@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: lightskyblue;
}

form {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color: #3498db;
    width: 100%;
}

#inner-header {
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
}

main {
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    color: #3498db;
    padding: 5px;
    cursor: pointer;
}

input {
    padding: 5px;
    color: #3498db;
}

button:hover {
    opacity: 80%;
}

#weather-container {
    text-align: center;
}

img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    visibility: hidden;
}

#error-message {
    color: #e74c3c;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


